  <div class="container">
  <div class="card-body">
    <h2 class="card-text mb-4" style="font-size: 24px;">
        Education
    </h2>
    <h2 style="font-size: 20px; font-weight: 300; font-family:'FontAwesome">
        Tilak Raj Chadda Institute of Management and Technology
    </h2>
        <p>
            Master in Computer Application
        </p>
        <ul>
            <li> T.I.M.T is Kurukshetra University Affiliated and the university <b>ranks 1st</b> in Haryana </li>
            <li>Completed M.C.A with <b>70%</b>.</li>
        </ul>
  </div>
</div>