<div class="container">
  <div >
      <div class="card-body">
        <h2 class="card-text mb-4" style="font-size: 24px;">
              About me
            </h2>
            <p style="font-size: 17px;"><strong>Hi I'm Ankush Sharma</strong> .
              I am Front-End Developer in CatalystOne, Mohali.</p>
              <ul>
                <li>Experienced in developing highly interactive and responsive web applications.</li>
                <li>Worked extensively in Agile Development Process.</li>
                <li>Strong interpersonal and communication skills with an ability to lead a team and keep them motivated.</li>
            </ul>
              <p style="font-size: 17px;">I describe myself as someone who is persistent, a learner and problem- solver by using simple and scalable solutions. </p> 
      </div>
    </div>
</div>


