<div class="container">
        <div class="card-body">
          <h2 class="card-text mb-4" style="font-size: 24px;">
                Work Experience
          </h2>
          <h2 style="font-size: 20px; font-weight: 300; font-family:'FontAwesome">
            Software Developer, Catalystone Solutions, Mohali	 
        </h2>
        <span class="float-right">AUG’20 – Present</span>
        <p class="custom-clear">
            Delivered updated Absence Module in Catalystone Application.
        </p>
        <ul>
            <li>Handled all aspects of the web application including maintaining, testing, debugging, and deploying.</li>
            <li>Client Interaction to provide demo of the product and to gather new requirements for enhancements.</li>
            <li>Deliver the stories as part of project followed   by Agile Model.</li>
            <li>Increased performance, extensibility, manageability and testability of the code</li>
        </ul>
        <h2 style="font-size: 20px; font-weight: 300; font-family:'FontAwesome">
            Associate Software Developer, Catalystone Solutions, Mohali 
        </h2>
        <span class="float-right">JULY’19 – AUG’20</span>
        <p class="custom-clear">
            Revamped Learning Management system of Catalystone application with new user experience trends and faster performance
        </p>
        <ul>
            <li>Performed debugging and testing of already build components and also added additional functionality in the same</li>
            <li>Collaborated successfully with cross-functional development teams working on other modules.</li>
            <li>Developed homepage widgets to provide flexibility of quick actions on different modules.</li>
        </ul>
        <h2 style="font-size: 20px; font-weight: 300; font-family:'FontAwesome">
            Software Developer Intern, Catalystone Solutions, Mohali
        </h2>                           
        <span class="float-right">JAN - JUNE’19</span>
        <p class="custom-clear">
            Worked on updating the UI for “LMS” module. 
        </p>
        <ul>
            <li>Developed generic plugins used globally in product.</li>
            <li>Worked with Catalystone Servlets and caching mechanism.</li>
        </ul>
        </div>
 </div>
 