
<div class="container">
    <div class="" >
        <div class="card-body">
          <h2 class="card-text mb-4" style="font-size: 24px;">
                Get in touch
            </h2> 
                 <div class="row">
                  <div class="col-md-5">
                    <div class="d-flex align-items-center m-1">
                            <div class="w-20 m-1">
                              <i class="fa fa-envelope" style="font-size:25px;color:red"></i>
                            </div>
                            <div class="w-80 m-1">
                              <b>
                                ak1.ankushsharma@gmail.com
                              </b>
                                
                        </div>
                    </div>
                  </div>
             </div>
             <div class="row">
              <div class="col-md-5">
                <div class="d-flex align-items-center m-1">
                        <div class="w-20 m-1">      
                          <i class="fa fa-linkedin-square"></i>
                        </div>
                        <div class="w-80 m-1">
                           <b>
                            Ankush Sharma
                           </b>  
                    </div>
                </div>
              </div>
         </div>
         <div class="row">
          <div class="col-md-5">
              <div class="d-flex align-items-center m-1">
                      <div class="w-20 m-1">
                          <i class="fa fa-whatsapp" aria-hidden="true"></i>
                      </div>
                      <div class="w-80 m-1">
                         <b>
                          +91 9802555453
                         </b> 
                  </div>
              </div>
            </div>
    </div>
        </div>
      </div>
  </div>
  