<div class="container">
    <div class="" >
        <div class="card-body">
          <h1 class="card-title mb-3" style="font-size: 24px;text-align: center; font-weight: 300;"> <i>
            {{intro}}
          </i></h1>
          <p class="card-text mb-4" style="text-align: center">
              <b>
                Welcome to my Personal portfolio.
              </b>
          </p>
          <p style="text-align: center">I believe that If you cannot find the spark within yourself to do any work. You will never find it anywhere else.</p>
        </div>
      </div>
</div>


