<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      <mat-toolbar></mat-toolbar>
    <mat-nav-list>
      <div class="d-flex justify-content-center">
        <img src="assets/images/anku.jpeg" alt="..." class="rounded-img">
      </div>
      <div class="text-center">
        <h4>Ankush Sharma</h4>
        <span id="job-title-span">Software engineer</span>
        <hr>
      </div>
     
        <a id="{{item}}" mat-list-item [routerLink]= "[item]"  (click)="scrollView(item)"  class="d-flex justify-content-center" *ngFor="let item of menuList ; let i = index" >{{item}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>portfolio-project</span> -->
    </mat-toolbar>
    <!-- Add Content Here -->
    <div class="custom-gradient"> 
      <app-intro></app-intro>
      <hr class="no-space w-60">
    </div>
    <div id="AboutDiv" class="m-3" #about  [@openClose]="isAboutOpen ? 'open' : 'closed'">
      <app-about></app-about>
      <hr class="no-space w-60">
    </div>

    <div id="TechnologiesDiv" class="m-3" #technology  [@openClose]="isTechOpen ? 'open' : 'closed'">
      <app-technologies></app-technologies>
      <hr class="no-space w-60">
    </div>

    <div id="ExperienceDiv" class="m-3" #experience  [@openClose]="isExpOpen ? 'open' : 'closed'"> 
      <app-experience></app-experience> 
      <hr class="no-space w-60">
    </div>
   

     <div id="Personal-DetailsDiv" class="m-3"  #personalDetails  [@openClose]="isEduOpen ? 'open' : 'closed'">  
      <app-education></app-education>
      <hr class="no-space w-60">
      <div id="ContactDiv" #contact>
        <app-contact></app-contact>
      </div>
    </div>

    

    

  </mat-sidenav-content>
</mat-sidenav-container>
